@import "config"; 
@import "mixin";

* {
    border: $border-style;
    border-radius: $border-raduis;

}


/* shrink images for placement */

img {
	width: 100px;
}
@mixin header {
	width: 90%;
	margin: auto;
	display: $display;
	justify-content: space-between;
	margin-bottom: $margin_2;
	div {
		display: $display;
		flex-wrap: wrap;
		width: 50%;
		margin-bottom: $margin_2;
		&:last-child {
			display: $display;
			align-items: $align;
		}
	}
	h1 {
		text-align: left;
	}
}
.container {
	display: $display;
	width: 90%;
	margin: auto;
	justify-content: space-between;
}
aside {
	flex-basis: 15%;
	min-width: 15%;
	display: $display;
	justify-content: flex-start;
	align-items: $align;
}
ul {
	padding: 0;
  
}
li {
	list-style: none;
	text-align: center;
    @include nav;
}
nav {
    margin: 9px;
    border-radius: 10px;
}
main {
	width: 85%;
	flex-basis: 85%;
}
body {
	background-color: $background-color_1;
	color: $color_1;
	margin: $margin_2;
	font-family: $font-family_2;
	text-align: center;
}
h1 {
	margin: $margin;
	font-family: $font-family_2;
   @include header;
}
h2 {
	margin: $margin;
	font-size: 1em;
}
h3 {
	margin: $margin;
}
h4 {
	margin: $margin;
}
h5 {
	margin: $margin;
}
h6 {
	margin: $margin;
    
}